<h1>商品の詳細</h1>

<p>商品詳細</p>
<p><%= @good.id %></p>


<p>商品名:  <%= @good.name %></p>
<p>商品の値段:  <%= @good.price %>円</p>
<p>商品の詳細な説明: <%= @good.note %></p>
<p><%= image_tag(@good.image.url)%></p>
    <%= button_to 'カートに入れる', line_items_path(good_id: @good), class: 'fbtn' %>
