<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>商品一覧</h1>
<p>サイトを利用するためには、まずはログインが必要です。</p>


<br>
<%= button_to '注文する', new_order_path, method: :get,class: 'fbtn' %>
<br>
<table>
    <tr>
      <th>商品名</th>
      <th>商品価格</th>
      <th>商品イメージ</th>
      <th></th>




    </tr>

<% @goods.each do |good| %>
<tr>

    <td>
  <h2><%= link_to good.name , detail_path(good.id),:style=>"text-decoration: none;"%></h2>
</td>
<td>
  <p><%= good.price %>円</p>
</td>
<td>
  <p><%= image_tag(good.image.url)%></p>
  </td>
  <td>
      <% if user_signed_in? %>
      <%= button_to 'カートに入れる', line_items_path(good_id: good), class: 'fbtn' %>
      <% else %>
      <%= button_to 'カートに入れる', new_user_session_path, class: 'fbtn' %>
      <% end %>

</td>
<tr>
<% end %>
</table>
